{% extends 'layout.html' %}
{% block content %}
  <div class='products'>
    <ul>
      <li>Name</li>
      <li>Style</li>
      <li>Color</li>
      <li>Material</li>
      <li>TimeToMarket</li>
      <li>Price</li><br>
      {% for product in products %}
        <li><a href='/products/{{ product.id }}'>{{ product.name }}</a></li>
        <li>{{ product.style }}</li>
        <li>{{ product.color }}</li>
        <li>{{ product.material }}</li>
        <li>{{ product.time_to_market }}</li>
        <li>{{ product.price }}</li><br>
      {% endfor %}
    </ul><br>
    <a href='/products/new'>NewProduct</a>
  </div>
{% endblock %}
