{% extends 'layout.html' %}
{% block content %}
  <div class='products-new'>
    <h3>New Product</h3>
    <form action='/products' method='post' enctype='multipart/form-data'>
      <p>
        <label>name</label>
        <input type='text'name='name', value='{{product.name}}'>
      </p>
      <p>
        <label>style</label>
        <select name='style'>
          <option value='short'>Short</option>  
          <option value='long'>Long</option>  
        </select>
      </p>
      <p>
        <label>color</label>
        <select name='color'>
          <option value='white'>White</option>  
          <option value='red'>Red</option>  
          <option value='black'>Black</option>  
        </select>
      </p>
      <p>
        <label>material</label>
        <select name='material'>
          <option value='flax'>Flax</option>
          <option value='silk'>Silk</option>
        </select>
      </p>
      <p>
        <label>time to market</label>
        <input type='date' name='time_to_market', value='{{product.time_to_market}}'>
      </p>
      <p>
        <label>description</label>
        <textarea name='description'>{{product.description}}</textarea>
      </p>
      <p>
        <label>price</label>
        <input type='text' name='price', value='{{product.price}}'>￥
      </p>
      <p class='products-new-imgs'>
        <label>images</label><br>
        <input type='file' name='files' multiple='multiple'>
      </p>
      <input type='submit' value='Submit'>
    </form>
  </div>
{% endblock %}
