{% extends 'layout.html' %}
{% block content %}
  <div class='products-show'>
    <ul>
      <li>
        <label>Name</label>
        {{ product.name }}
      </li>
      <li>
        <label>Style</label>
        {{ product.style }}
      </li>
      <li>
        <label>Color</label>
        {{ product.color }}
      </li>
      <li>
        <label>Material</label>
        {{ product.material }}
      </li>
      <li>
        <label>TimeToMarket</label>
        {{ product.time_to_market }}
      </li>
      <li>
        <label>Price</label>
        {{ product.price }}
      </li>
      <li>
        <label>Description</label>
        {{ product.description }}
      </li>
      {% for piu in product_img_uploaders %}
        <label>ProductImg</label>
        <li><img src='http://alpha.ing.com{{piu.read()}}'></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
