<!DOCTYPE HTML>
<html>
  <head>
    <title>admin</title>
    <script type='text/javascript' src='/static/jquery-1.11.1.min.js'></script>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
  </head>
    <body>
      <nav id='menu'>
        <ul class='menu-parent'>
          <li id='menu-logo'>ing</li>
          <li id='menu-index'>
            <a href='/'>Index</a>
          </li>
          <li id='menu-me-menu'>
            <a href='#'>Me</a>
          </li>
          <li>
            <a href='/signout?_method=delete'>Signout</a>
          </li>
        </ul>
      </nav>
      <nav id='submenu'>
        <ul>
          <li><a href='/products?page=1'>Products</a></li>
          <li><a href='#'>Orders</a></li>
        </ul>
      </nav>
      <div id='content'>
       {% if errors %}
         <ul class='validation-errors'>
           {% for error in errors %}
             <li>{{error}}</li>
           {% endfor  %}
         </ul>
       {% endif %}
       {% block content %}{% endblock %}
      </div>
      <footer></footer>
    </body>
</html>
