{% extends 'layout.html' %}
{% block content %}
    <h3 class='forget-password-header'>Forget password</h3>
    <form class='forget-password-form' action='/forget_password?_method=put' method='post'>
      <p>
        <input class='forget-password-email' name='email' type='email' 
         placeholder='input email you signup with'>
      </p>
      <input class='forget-password-submit' type='submit' value='Submit'>
    </form>
{% endblock %}
