{% extends 'layout.html' %}
{% block content %}
  <h3 class='reset-password-header'>Reset password</h3>
  <form class='reset-password-form' action='/reset_password?_method=put' method='post'>
    <input type='hidden' name='reset_password_token' value={{reset_password_token}}>
    <p>
      <input class='reset-password-password' name='password' type='password' 
             placeholder='input new password'>
    </p>
    <p>
      <input class='reset-password-confirmation' name='password_confirmation' 
             type='password' placeholder='input new password again'>
    </p>
    <input class='reset-password-submit' type='submit' value='ResetPassword'>
  </form>
{% endblock %}
