{% extends 'layout.html' %}
{% block content %}
  <h3 class='signin-header'>Sign in</h3>
  <form class='signin-form' action='/signin' method='post'>
    <p>
      <input class='signin-email' placeholder='email' name='email' type='email'>
    </p>
    <p>
      <input class='signin-password' placeholder='password' name='password' type='password'>
      <a class='signin-forget-password' href='/forget_password'>Forget password?</a>
    </p>
    <p class='signin-up-in'>
      <input class='signin-submit' type='submit' name='submit' value='Sign in'>
      <span class='signin-signup'>
        <a href='/signup'>Sign up</a>
      </span>    
    </p>
  </form>
{% endblock  %}
