{% extends 'layout.html' %}
{% block content %}
  <h3 class='signup-header'>Sign up</h3>
  <form class='signup-form' action='/signup' method='post'>
    <p>
      <input name='email' placeholder='email' type='text' value='{{user.email}}'>
    </p>
    <p>
      <input name='password' placeholder='password' 
        type='password'>
    </p>
    <p>
      <input name='password_confirmation' placeholder='confirm password'
        type='password'>
    </p>
    <p class='sign-up-in'>
      <input class='signup-submit' type='submit' value='Sign up'>
      <span class='signup-signin'>
        <a href='/signin'>Sign in</a>
      </span>    
    </p>
  </form>
{% endblock %}
