body{
  margin: 0;    
  background-color: #E9EAED;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;    
}
/* style for MenuView */
#menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  border-bottom: 2px #000000 solid;
  background-color: white;
}

ul.menu-parent li{
  display: inline-block;
}

ul.menu-parent li#menu-logo {
  margin-left: 2%;
  font-size: 40px;
  color: red;
}

#menu-index {
  margin-left: 15%;
}
/* style for submenu */
#submenu{
  position: fixed;
  top: 50px;
  width: 100px;
  min-height: 610px;
  padding: 5px;
  background-color: white;
}

#submenu ul li{
  margin-top: 15px;
}

/* style for content */
#content {
  position: absolute;
  top: 50px;
  left: 112px;
  right: 0;
}

/* style for product */
.products-new, .products, .products-show{
  margin: 15px 0 0 15px;
}

.products ul li {
  display: inline-block;    
  width: 125px;
}
